header{
    text-align: center;
}

.image-container{
  text-align: center;
}

h2{ 
    border-bottom: 4px solid aqua;
    padding-bottom:5px;
}

th {
    font-family: "M PLUS Rounded 1c";
    background-color: antiquewhite;
    border: 1px solid rgba(129, 128, 128, 0.445);
    padding:19px;
}


td{
    border:1px solid rgba(128, 128, 128, 0.445);
    background-color: rgb(246, 251, 255);
    padding:19px;
}

.skill-table{
    border-collapse:collapse;
}

li{
    list-style-type: none;
}

ul{
    padding:0;
}

footer {
    text-align: center;
    font-size: 0.9rem;
    color: #777;
    margin-top: 30px;
}

body{
    background-color: #ffeece;
}

.container{
    background-color: #FFF;
    width:60%;
    margin:0 auto;
    padding:20px;
    border-radius: 8px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

/*
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}*/
